#contents button#download {
  position: absolute;
  display: none;
}

#contents:hover button#download {
  display: inline;
  right: 0;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure figcaption {
  border-radius: 0.5rem;
  background-color: rgb(240 245 249);
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: rgb(97 117 138);
}
