.container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: max-content;
}

.container .download-btn {
  cursor: pointer;
  padding: 0.25rem;
  color: #61758A;
  background: none;
  border: none;
}

.container .download-btn:hover {
  color: #0D1829;
}

.container:not(:hover) .download-btn {
  opacity: 0;
}

.figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}

.caption {
  margin-top: 8px;
  font-size: 0.875rem;
  color: #61758a;
}
