html {
  font-size: 87.5%;
}

.app {
  font-family: "Inter";
  padding: 12px;

  --gray-50: #f8fafc;
  --gray-100: #f0f5f9;
  --gray-200: #e1e8f0;
  --gray-300: #cad5e0;
  --gray-400: #91a4b7;
  --gray-500: #61758a;
  --gray-600: #445668;
  --gray-700: #304254;
  --gray-800: #1c2a3a;
}

.navigation {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.navigation > :not(:first-child) {
  margin-left: 12px;
}

.navigation__info {
  display: flex;
  align-items: baseline;
}

.navigation__name {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 600;
  color: var(--gray-800);
}

.navigation__details {
  margin-left: 10px;
  font-size: 0.875rem;
  line-height: 1;
}

.navigation__details.filtered {
  margin-left: 5px;
}

.filter__message {
  color: var(--gray-400);
}

.navigation__space {
  flex-grow: 1;
}

.pagination {
  display: flex;
}

.pagination > :not(:first-child) {
  margin-left: 8px;
}

.pagination__button {
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--gray-500);
}

.pagination__button:hover {
  color: var(--gray-800);
}

.pagination__button:focus {
  outline: none;
}

.pagination__button:disabled {
  pointer-events: none;
  color: var(--gray-300);
}

.pagination__info {
  padding: 4px 8px;
  border: 1px solid var(--gray-400);
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray-500);
  border-radius: 8px;
}

.table-container {
  box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.1),
    0 0 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  max-width: 100%;
  overflow-y: auto;
}

.table-container--loading {
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__row {
  border-bottom: 1px solid var(--gray-200);
  white-space: nowrap;
}

.table__row--hover:hover {
  background-color: var(--gray-50);
}

.table__row--no-trailing-border:last-child {
  border-width: 0;
}

.table__cell {
  text-align: left;
  padding: 12px 24px;
  color: var(--gray-500);
}

.table__head .table__cell {
  color: var(--gray-700);
  font-weight: 600;
}

.table__cell--clickable {
  cursor: pointer;
}

.table__cell-content {
  display: flex;
  flex-direction: column;
}

.table__cell-content-primary {
  display: flex;
  align-items: center;
}

.table__cell-content-primary > :not(:first-child) {
  margin-left: 4px;
}

.table__cell-content-primary {
  display: flex;
  align-items: center;
}

.table__cell-content-secondary {
  margin-top: 2px;
  font-size: 0.875rem;
  font-weight: 400;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: var(--gray-500);
  line-height: 1;
}

.icon-button:hover {
  color: var(--gray-900);
}

.icon-button:focus {
  outline: none;
  background-color: var(--gray-100);
}

.icon-button:disabled {
  color: var(--gray-300);
  cursor: default;
}

.no-data {
  color: var(--gray-700);
}

.invisible {
  visibility: hidden;
}

.ri {
  font-size: 1.25rem;
  vertical-align: middle;
  line-height: 1;
}

.tiny-scrollbar::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

.tiny-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: var(--gray-400);
}

.tiny-scrollbar::-webkit-scrollbar-track {
  background-color: var(--gray-100);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.input {
  appearance: none;
  padding: 4px 8px;
  border: 1px solid var(--gray-400);
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray-500);
  border-radius: 8px;
  background-color: white;
}

.input:focus {
  outline: none;
}

.input-label {
  font-size: 0.875rem;
  color: var(--gray-500);
  font-weight: 500;
  padding: 4px;
}

select.input {
  appearance: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01Ljk5OTg5IDQuOTc2NzFMMTAuMTI0OSAwLjg1MTcwOEwxMS4zMDMyIDIuMDMwMDRMNS45OTk4OSA3LjMzMzM3TDAuNjk2NTU1IDIuMDMwMDRMMS44NzQ4OSAwLjg1MTcwOEw1Ljk5OTg5IDQuOTc2NzFaIiBmaWxsPSIjNjE3NThBIi8+Cjwvc3ZnPgo=");
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 10px;
  padding-right: 28px;
}

select option {
  color: black;
}

.tooltip {
  position: relative;
  display: flex;
  --distance: 4px;
  --arrow-size: 5px;
  --show-delay: 0.5s;
}

.tooltip:before {
  position: absolute;
  content: attr(data-tooltip);
  white-space: pre;
  text-align: center;
  display: block;
  z-index: 100;
  background-color: #1c273c;
  color: #f0f5f9;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  padding: 3px 12px;
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0s;
  transition-delay: 0s;
}

/* Tooltip arrow */
.tooltip:after {
  content: "";
  position: absolute;
  display: block;
  z-index: 100;
  /* For the arrow we use the triangle trick: https://css-tricks.com/snippets/css/css-triangle/ */
  border-width: var(--arrow-size);
  border-style: solid;
  border-color: #1c273c;
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0s;
  transition-delay: 0s;
}

.tooltip:hover:before {
  visibility: visible;
  transition-delay: var(--show-delay);
}

.tooltip:hover:after {
  visibility: visible;
  transition-delay: var(--show-delay);
}

.tooltip.right:before {
  top: 50%;
  left: 100%;
  transform: translate(calc(var(--arrow-size) - 1px + var(--distance)), -50%);
}

.tooltip.right:after {
  top: 50%;
  left: 100%;
  transform: translate(var(--distance), -50%);
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.header-menu {
  width: 175px;
  padding: 8px;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid #e1e8f0;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.header-menu-item {
  font-size: 0.975rem;
  font-family: "Inter";
  padding: 4px;
  color: #304254;
  margin-bottom: 2px;
}

.header-menu-item.input-label {
  font-weight: 500;
}

.header-menu-item-wrapper {
  margin-top: 4px;
  border: solid 1px #e1e8f0;
  border-radius: 8px;
  padding: 8px 0;
}

.header-menu-item.button {
  font-weight: 500;
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 4px;
}

.header-menu-item.button:hover {
  cursor: pointer;
  background-color: #f0f5f9;
}

.header-menu-input {
  border: 1px solid #91a4b7;
  color: #61758a;
  width: 100%;
  margin-bottom: 4px;
  font-size: 0.975rem;
}

.header-menu-input:disabled {
  opacity: 50%;
}

.inline-form {
  display: flex;
  margin-right: 7px;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  margin-bottom: 0;
}

.input-full {
  min-width: 62%;
  padding-right: 50px;
}

.menu__button {
  padding: 4px 8px;
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #61758a;
  background-color: #f8fafc;
  border-radius: 8px;
  border-left: 1px solid #91a4b7;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  right: 48px;
  bottom: 2px;
  height: 25px;
}

.menu__button:hover {
  color: #1c2a3a;
  background-color: #f0f5f9;
}

.menu__button:focus {
  outline: none;
}

.menu__button:disabled {
  pointer-events: none;
  color: #91a4b7;
}
